# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[mysqld]
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow-query.log
slow_query_log = ON
long_query_time = 0.0
log_output = FILE

###
# 基本設定
###
# ファイルディスクリプタ設定/警告参照(`Buffered warning: Changed limits: max_open_files`)
open_files_limit = 8192
# 最大同時接続数/エラー参照(too many connections)
max_connections = 1024

skip-log-bin
# ログを1秒単位で吐く
innodb_flush_log_at_trx_commit = 0
# InnoDB と OS のダブルバッファリングを防ぐ
innodb_flush_method = O_DIRECT

###
# バッファ
###
# データとインデックスがロードされるメモリ領域/搭載メモリの80%目安/defaultは128MB ※1GB↔︎1024M
innodb_buffer_pool_size = 1638MB #2GBの場合
# InnoDBの更新ログを記録するディスク上の領域/innodb_buffer_pool_sizeの25%目安/defaultは96MB
innodb_log_file_size = 409MB #2GBの場合

###
# その他設定
###
# InnoDBの更新ログを記録するメモリ領域/defaultは16MB
# innodb_log_buffer_size = 16MB
innodb_doublewrite = OFF

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/
